body {
    background: url('/assets/img/3.png') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    animation: fadeIn 1s ease-in;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 0.5 = 50% transparency */
    z-index: -1;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h1 :hover

a {
    text-decoration: none;
    color: #fff;
    background-color: #1e88e5;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s;
    }

a:hover {
    background-color: #1565c0;
    }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    }

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    animation: fadeIn 1s ease-in;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    }

.welcome-img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    }

.welcome-text {
    text-align: center;
    }

.welcome-text h2 {
    margin-top: 0;
    color: #1e88e5;
    font-size:xx-large ;
    }

